India and South Africa are set to face off in the T20 World Cup 2024, on Saturday. The Delhi Police have added to the excitement by sharing a humorous tweet, Mom says "eat greens" are you listening, Team India. Since being shared, the post has gone viral accumulated more than 3,000 views with users responding with laughter and support for the team.

<center><h1>Python Class</h1></center>

<h1 style="color: red;">Your red text here</h1>

In [1]:
import requests

url = '''https://en.wikipedia.org/wiki/COVID-19_pandemic_by_country_and_territory'''

print(url)

https://en.wikipedia.org/wiki/COVID-19_pandemic_by_country_and_territory

In [2]:
result = requests.get(url)
result

In [3]:
html_data = result.content
print('done')

done

In [4]:
type(html_data)

bytes

In [5]:
# pip install beautifulsoup4

In [6]:
from bs4 import BeautifulSoup

In [7]:
soup = BeautifulSoup(html_data,'html.parser')
print('done')

done

In [8]:
type(soup)

bs4.BeautifulSoup

In [9]:
all_rows = []
column_name = []
for index,value in enumerate(soup.find_all('tr')):
    if 45<=index<=284:
        data = value.text.strip().split('\n')
        
        while '' in data:
            data.remove('')
#         print(index,data)

        if index == 45:
            column_name.extend(data)
        else:
            all_rows.append(data)
    
    
print(len(all_rows))
print(len(column_name))

239
4

In [10]:
import pandas as pd

C:\Users\Lenovo\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [11]:
srcapped_data = pd.DataFrame(all_rows,columns=column_name)

In [12]:
from datetime import datetime

In [13]:
current_dt = datetime.now()

In [14]:
srcapped_data['Scrapped_Date_time'] = current_dt

In [15]:
srcapped_data

,Country,Deaths / million,Deaths,Cases,Scrapped_Date_time
0,World[a],884,"7,051,600","775,643,495",2024-06-29 16:17:25.441660
1,Peru,"6,485","220,831","4,524,748",2024-06-29 16:17:25.441660
2,Bulgaria,"5,706","38,700","1,329,405",2024-06-29 16:17:25.441660
3,Bosnia and Herzegovina,"5,068","16,388","403,644",2024-06-29 16:17:25.441660
4,Hungary,"4,921","49,051","2,230,453",2024-06-29 16:17:25.441660
...,...,...,...,...,...
234,Niue,—,—,"1,074",2024-06-29 16:17:25.441660
235,Turkmenistan,—,0,0,2024-06-29 16:17:25.441660
236,Vatican City,—,0,26,2024-06-29 16:17:25.441660
237,Tokelau,—,0,80,2024-06-29 16:17:25.441660
238,"Saint Helena, Ascension and Tristan da Cunha",—,—,"2,166",2024-06-29 16:17:25.441660

In [16]:
def scrapped_website(url,save_path,file_name = None):
    
    try:
        import requests
        from bs4 import BeautifulSoup
        import pandas as pd
        from datetime import datetime    

    #     ================================================================

        result = requests.get(url)
        html_data = result.content

        soup = BeautifulSoup(html_data,'html.parser')

        all_rows = []
        column_name = []
        for index,value in enumerate(soup.find_all('tr')):
            if 45<=index<=284:
                data = value.text.strip().split('\n')

                while '' in data:
                    data.remove('')
        #         print(index,data)

                if index == 45:
                    column_name.extend(data)
                else:
                    all_rows.append(data)

    #     ========================================================================
        current_dt = datetime.now()
        srcapped_data = pd.DataFrame(all_rows,columns=column_name) 
        srcapped_data['Scrapped_Date_time'] = current_dt

        srcapped_data.to_csv(save_path+f'\\{file_name}.csv',index=False)

        return srcapped_data
    
    except Exception as err:
        print(err)

In [29]:
url = '''https://en.wikipedia.org/wiki/COVID-19_pandemic_by_country_and_territory'''

path = "C:\\Users\\Lenovo\\Desktop\\instagram_pics"

file_name = os.listdir(path)[0].replace('.csv','')

total_file = len(os.listdir(path))

new_file_name = file_name+str(total_file+1)

scrapped_website(url, path, new_file_name)

,Country,Deaths / million,Deaths,Cases,Scrapped_Date_time
0,World[a],884,"7,051,600","775,643,495",2024-06-29 16:32:15.843233
1,Peru,"6,485","220,831","4,524,748",2024-06-29 16:32:15.843233
2,Bulgaria,"5,706","38,700","1,329,405",2024-06-29 16:32:15.843233
3,Bosnia and Herzegovina,"5,068","16,388","403,644",2024-06-29 16:32:15.843233
4,Hungary,"4,921","49,051","2,230,453",2024-06-29 16:32:15.843233
...,...,...,...,...,...
234,Niue,—,—,"1,074",2024-06-29 16:32:15.843233
235,Turkmenistan,—,0,0,2024-06-29 16:32:15.843233
236,Vatican City,—,0,26,2024-06-29 16:32:15.843233
237,Tokelau,—,0,80,2024-06-29 16:32:15.843233
238,"Saint Helena, Ascension and Tristan da Cunha",—,—,"2,166",2024-06-29 16:32:15.843233

In [22]:
import os

'covid_wiki'

In [26]:
os.listdir(path)

['covid_wiki.csv']