In [1]:
# flow control

# loop:-
#     for loop
#     while loop
    
#     Infinite loop

In [3]:
a = [1,2,3,4,5,6,7,8,9,10]

print(list(range(1,101)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [5]:
import time
for i in range(1,11):
    print('I love python')
    time.sleep(1)

I love python
I love python
I love python
I love python
I love python
I love python
I love python
I love python
I love python
I love python

In [8]:
for i in range(1,11):
    print(3*i)

3
6
9
12
15
18
21
24
27
30

In [10]:
# for temp_variable in 'str,list,set,dict,tuple,frozenset,range()':
#     for code block
#     complete code

In [12]:
for i in [23,325,3231,43,576,54534,324546]:
    print(i)
    time.sleep(1)

23
325
3231
43
576
54534
324546

In [13]:
# iteration i

In [15]:
for gaurav in (1,2,3,4,56,7,56):
    print(gaurav+10)

11
12
13
14
66
17
66

In [22]:
# procedure element pick
# itearbles:-'str,list,set,dict,tuple,frozenset,range()'
a = 'python is awesome'

for char in a:
    print(char.upper(),end='')
    time.sleep(0.05)

PYTHON IS AWESOME

In [23]:
# procedure element pick
# itearbles:-'str,list,set,dict,tuple,frozenset,range()'
a = 'python is awesome'

for bottle in a:
    print(bottle.upper(),end='')
    time.sleep(0.05)

PYTHON IS AWESOME

In [30]:
modi = [1,2,3,4,5,6]

for rahul in modi:
    print(rahul*'* ')

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [28]:
'* '*4

'* * * * '

In [31]:
# iterate each data type

a = [1,2345,32,14]

for i in a:
    print(i)

1
2345
32
14

In [32]:

a = (1,2345,32,14)

for i in a:
    print(i)

1
2345
32
14

In [33]:

a = {1,2345,32,14}

for i in a:
    print(i)

32
1
14
2345

In [34]:

a = 'world'

for i in a:
    print(i)

w
o
r
l
d

In [36]:

a = 'We are in techvidya'.split(' ')

for i in a:
    print(i)

We
are
in
techvidya

In [35]:
'We are in techvidya'.split(' ')

['We', 'are', 'in', 'techvidya']

In [37]:
a = frozenset((12,43,4312,43,5768))

for k in a:
    print(k)

4312
43
12
5768

In [38]:
a = {'Name':'Mohan','Age':23,'Class':5}

for i in a:
    print(i)

Name
Age
Class

In [40]:
a = {1:'One',2:'Two',3:'Three'}

for key in a:
    print(key)

1
2
3

In [41]:
a = {'Name':'Mohan','Age':23,'Class':5}

for i in a:
    print(i)

Name
Age
Class

In [44]:
a = {'Name':'Mohan','Age':23,'Class':5}

for i in a:
    print(a[i])

Mohan
23
5

In [50]:
a = {'Name':'Mohan','Age':23,'Class':5}

for i in a:
    print(f'{i.upper().center(12,"*")}---:---{a[i]}')

****NAME****---:---Mohan
****AGE*****---:---23
***CLASS****---:---5

In [51]:
# not applicable

a  = 23456

for i in a:
    print(i)

TypeError: 'int' object is not iterable

In [52]:
a  = 23456.876

for i in a:
    print(i)

TypeError: 'float' object is not iterable

In [53]:
a  = 23456-8j

for i in a:
    print(i)

TypeError: 'complex' object is not iterable

In [54]:
a  = None

for i in a:
    print(i)

TypeError: 'NoneType' object is not iterable

In [55]:
a  = True

for i in a:
    print(i)

TypeError: 'bool' object is not iterable

In [57]:
a  = [None]*10

for i in a:
    print(i)

None
None
None
None
None
None
None
None
None
None

In [56]:
[None]*10

[None, None, None, None, None, None, None, None, None, None]

In [58]:
a  = [True]*10

for i in a:
    print(i)

True
True
True
True
True
True
True
True
True
True

In [62]:
a = list('ABCDEFGHIJKL')

for a in a:
    print(a)

A
B
C
D
E
F
G
H
I
J
K
L

In [63]:
list('ABCDEFGHIJKL')

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L']

In [65]:
a = list('ABCDEFGHIJKL')

for a  in a:
    print(a)

A
B
C
D
E
F
G
H
I
J
K
L

In [69]:
a = list('ABCDEFGHIJKL')

for i  in a:
    print((i+' ')*len(a))

A A A A A A A A A A A A
B B B B B B B B B B B B
C C C C C C C C C C C C
D D D D D D D D D D D D
E E E E E E E E E E E E
F F F F F F F F F F F F
G G G G G G G G G G G G
H H H H H H H H H H H H
I I I I I I I I I I I I
J J J J J J J J J J J J
K K K K K K K K K K K K
L L L L L L L L L L L L

In [73]:
a = list('ABCDEFGHIJKL')

for i  in a:
    print((i+'..')*len(a))

A..A..A..A..A..A..A..A..A..A..A..A..
B..B..B..B..B..B..B..B..B..B..B..B..
C..C..C..C..C..C..C..C..C..C..C..C..
D..D..D..D..D..D..D..D..D..D..D..D..
E..E..E..E..E..E..E..E..E..E..E..E..
F..F..F..F..F..F..F..F..F..F..F..F..
G..G..G..G..G..G..G..G..G..G..G..G..
H..H..H..H..H..H..H..H..H..H..H..H..
I..I..I..I..I..I..I..I..I..I..I..I..
J..J..J..J..J..J..J..J..J..J..J..J..
K..K..K..K..K..K..K..K..K..K..K..K..
L..L..L..L..L..L..L..L..L..L..L..L..