In [5]:
for i in ['Mohan','ravi','karan']:
    for j in ['ravi','karan']:
        if i==j:
            print(i)
        else:
#             print('nothing common')
            pass

ravi
karan

In [8]:
import time
time.sleep(2)
print('Hello')

Hello

In [9]:
# pip install pygame

In [11]:
# pip install pygame

In [12]:
# df.to_csv(C:\Users\Lenovo\Desktop\drls.pbix)

In [13]:
# *
# * *
# * * *

In [27]:
length = 4
char = '*'
for i in range(1,length+1):
    print(i*f'{char} ')

*
* *
* * *
* * * *

In [28]:
# 1
# 1 2
# 1 2 3
# 1 2 3 4
# 1 2 3 4 5

In [30]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [42]:
print(' '.join(['1']))
print(' '.join(['1','2']))
print(' '.join(['1','2','3']))
print(' '.join(['1','2','3','4']))
print(' '.join(['1','2','3','4','5']))

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [50]:
[i for i in range(1,1)]

[]

In [76]:
user = 12
for i in range(1,user+1):
    print(' '.join([str(j) for j in range(1,i+1)]))

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10 11
1 2 3 4 5 6 7 8 9 10 11 12

In [57]:
' '.join('AMAN')

'A M A N'

In [60]:
'@'.join(['1','2','3'])

# '1@2@3@4'

'1@2@3'

In [ ]:
'A M A N'

In [71]:
user = 5
data = [j for j in range(1,user+1)]
for i in range(0,user):
    print(data[0:i+1])

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [ ]:
# 4
# 4 4
# 4 4 4
# 4 4 4 4

In [85]:
user = 3
for i in range(1,user+1):
    print(i*f'{str(user)} ')

3
3 3
3 3 3

In [ ]:
5 55 555 5555 55555...

In [94]:
user = 5
for i in range(1,user+1):
    print(i*str(user),end = ' ')
print('\b...')

5 55 555 5555 55555 ...

In [95]:
import string

In [104]:
data = string.ascii_uppercase
data

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [124]:
# A
# A B
# A B C
# A B C D
# A B C D E

user = 5
if user<=26:
    for i in range(user):
        print(' '.join(data[0:i+1]))
else:
    print('Value must be in range(0,26)')

A
A B
A B C
A B C D
A B C D E

In [125]:
# square box
user  = 5

# 5 5 5 5 5
# 5 5 5 5 5
# 5 5 5 5 5
# 5 5 5 5 5
# 5 5 5 5 5

In [140]:
user  = 3
for i in range(user):
    print(' '.join(user*str(user)))

3 3 3
3 3 3
3 3 3

In [141]:
######
######
######
###
###
###

In [153]:
user = 5
for i in range(user):
    if i<user//2:
        print('#'*user)
    else:
        print('#'*(user//2))

#####
#####
##
##
##

In [154]:
length = 4
char = '*'
for i in range(1,length+1):
    print(i*f'{char} ')

*
* *
* * *
* * * *

In [155]:
# * * * *
# * * *
# * *
# *

In [157]:
length = 4
char = '*'
for i in range(length,0,-1):
    print(i*f'{char} ')

* * * *
* * *
* *
*

In [161]:
length = 4
char = '*'
for i in range(1,length+1):
    print(i*f'{char} ')
    
for i in range(length-1,0,-1):
    print(i*f'{char} ')

*
* *
* * *
* * * *
* * *
* *
*

* * * *
* * *
* *
*

In [163]:
length = 4
char = '*'
for i in range(1,length+1):
    print(i*f'{char} ')

*
* *
* * *
* * * *

In [164]:
#       *
#     * * 
#   * * *
# * * * *

# HW

In [166]:
#      *
#     * *
#    * * *
#   * * * *

In [167]:
#   * * * *
#    * * *
#     * *
#      *

In [168]:
#      *
#     * *
#    * * *
#   * * * *
#    * * *
#     * *
#      *