In [ ]:
# loop with all data types

In [ ]:
# # One liner loop
# With list comphrension ** imp

# for loop with pass, continue,break
# for if else
# for imp questions

# for dict:- how to save data

In [ ]:
for i in range(10):print('hello')

In [ ]:
# even odd check

a = [23,4321,3434,65,234,32,4535,43,245]

even = []

odd = []

for i in a:
    if i%2 == 0:
        even.append(i)    
    else:
        odd.append(i)
        
print('Even List: ',even)
print('Odd List: ',odd)

In [ ]:
# pass

students = ['mohan','ravi','karan','akshay','ajay']

for i in students:
    if len(i)>0:
        pass
    else:
        print('Not a candidate')

In [5]:
for i in range(7):
    pass
    print('hello')

hello
hello
hello
hello
hello
hello
hello

In [3]:
# continue

In [12]:
a = [12,43,321,32,454,342,4545,78]

for i in a:
    if i == 454:
        continue # skip particular iteration
        print('Hello')
    else:
        print(i,i**2)

12 144
43 1849
321 103041
32 1024
342 116964
4545 20657025
78 6084

In [18]:
# break

for i in range(1,11):
    if i == 5:
        break
        print('Hello I am Python')
    else:
        print('Hello '*i)

Hello
Hello Hello
Hello Hello Hello
Hello Hello Hello Hello

In [21]:
# for i in range(5678909861238765432345678900986456789098754):
#     break

In [24]:
students = ['mohan','ravi','karan','akshay','ajay']


for i in students:
    if i=='karan':
        print(f'{i} wait for further checking!!')
        break
        
    else:
        print(f'{i} you can go')

mohan you can go
ravi you can go
karan wait for further checking!!

In [29]:
# for with else

for i in range(1,51,10):
    if i >=35:
        continue
    else:
        print(i,i**2)
        
else:
    print('Loop Executed successfully!!')

1 1
11 121
21 441
31 961
Loop Executed successfully!!

In [32]:
# prime number
# 2,3,4,5,6,7
# 2,3,5,7,10,13


no = 8


for i in range(2,no):
    if no % i == 0:
        print('Not a Prime Number!!')
        break    
else:
    print('It\'s a Prime Number')

Not a Prime Number!!

In [39]:
# some important questions

elements = [12,34543,5421,3434,675,5421,3434,5776,554,214]

sum(a)

59484

In [38]:
total = 0

for element in elements:
    total += element
    
print(total)

59484

In [52]:
# min element
data =  [6543,412,34543,5421,3434,67,5421,3434,5776,8554,21874]

min(data)
max(data)

34543

In [49]:
my_min = data[2]

for i in data:
    if i<my_min:
        my_min = i
        
print(my_min)

67

In [53]:
my_max = data[2]

for i in data:
    if i>my_max:
        my_max = i
        
print(my_max)

34543