In [1]:
# given number is an armstrong number or not

In [2]:
153

1**3 + 5**3 + 3**3

153

1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407, 1634, 8208, 9474, 54748, 92727, 93084, 548834, 1741725, 4210818, 9800817, 9926315, 24678050, 24678051, 88593477, 146511208, 472335975, 534494836, 912985153, and 4679307774.

In [5]:
9475


9**4 +4**4 +7**4 + 5**4

9843

In [8]:
len('345')

3

In [26]:
user = int(input('Enter Number: '))

result = 0
for i in str(user):
    lt = len(str(user))
    
    
    result += pow(int(i),lt)
    
if result == user:
    print('Armstrong Number!!')
else:
    print('Not an Armstrong Number!!')

Enter Number: 153
Armstrong Number!!

In [ ]:
9475

res = 0
# 9**4 +4**4 +7**4 + 5**4

In [27]:
sum([1,16,81,256])
list('ABCDE' )

['A', 'B', 'C', 'D', 'E']

In [29]:
# nested loop

for i in [1,2,3,4,5]:  # outer loop
    
    for j in list('ABCDE' ):
        
        print(j)
    print('--------------------------------')

A
B
C
D
E
--------------------------------
A
B
C
D
E
--------------------------------
A
B
C
D
E
--------------------------------
A
B
C
D
E
--------------------------------
A
B
C
D
E
--------------------------------

In [30]:
# nested loop

for i in [1,2,3,4,5]:  # outer loop
    
    for j in list('ABCDE' ):
        
        print(i,j)
    print('--------------------------------')

1 A
1 B
1 C
1 D
1 E
--------------------------------
2 A
2 B
2 C
2 D
2 E
--------------------------------
3 A
3 B
3 C
3 D
3 E
--------------------------------
4 A
4 B
4 C
4 D
4 E
--------------------------------
5 A
5 B
5 C
5 D
5 E
--------------------------------

In [31]:
# nested loop

for i in list('JIABH'):  # outer loop
    
    for j in list('ABCDE' ):
        
        print(i,j)
    print('--------------------------------')

J A
J B
J C
J D
J E
--------------------------------
I A
I B
I C
I D
I E
--------------------------------
A A
A B
A C
A D
A E
--------------------------------
B A
B B
B C
B D
B E
--------------------------------
H A
H B
H C
H D
H E
--------------------------------

In [32]:
# nested loop

for i in list('JIABH'):  # outer loop
    
    for j in list('ABCDE' ):
        
        if i == j:
            print(i)
        
    print('--------------------------------')

--------------------------------
--------------------------------
A
--------------------------------
B
--------------------------------
--------------------------------

In [36]:
a = [11,12,10,1,4,5]

b = [3,4,1,10,11,5]

common = []
for i in a:
    
    for j in b:
        
        if i==j:
#             print(i)
            common.append(i)

print('Common Elements: ',common)

Common Elements:  [11, 10, 1, 4, 5]

In [38]:
a = [1,2,5,4,45]
b = [4,5,6,7,8]
c = [4,5,6,7,8]

common = []

for i in a:
    for j in b:
        for k in c:
            
            if i == j ==k:
                common.append(i)
print('Common Elements: ',common)

Common Elements:  [5, 4]

In [42]:
a = list(range(30,300))
b = list(range(20,40))
c = list(range(25,355))
common = []
for i in a:
    for j in b:
        for k in c:
            
            if i == j ==k:
                common.append(i)
print('Common Elements: ',common)

Common Elements:  [30, 31, 32, 33, 34, 35, 36, 37, 38, 39]

In [43]:
# List comphrension


a = [12,43,231,44,643,4223,56,865,53423,44,568]
even = []
odd = []
for i in a:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
        
print('Even: ',even)
print('Odd: ',odd)

Even:  [12, 44, 56, 44, 568]
Odd:  [43, 231, 643, 4223, 865, 53423]

In [46]:
[i**3 for i in range(1,11)]

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [50]:
a = ['mohan','karan','ajay','ravi']
['@'+i.upper() for i in a]

['@MOHAN', '@KARAN', '@AJAY', '@RAVI']

In [56]:
['Hello' for i in 'abcde']

['Hello', 'Hello', 'Hello', 'Hello', 'Hello']

In [54]:
for i in 'abcde':
    print('Hello')

Hello
Hello
Hello
Hello
Hello

In [58]:
a = [12,43,231,44,643,4223,56,865,53423,44,568]


even = [i for i in a if i%2==0]
odd = [i for i in a if i%2!=0]

print(even)
print(odd)

[12, 44, 56, 44, 568]
[43, 231, 643, 4223, 865, 53423]

In [ ]:
a = [12,43,231,44,643,4223,56,865,53423,44,568]


even = [i for i in a if i%2==0]
odd = [i for i in a if i%2!=0]

print(even)
print(odd)

In [60]:
[i for i in a if i%2==0]

[12, 44, 56, 44, 568]

In [61]:
[i for i in a if i%2!=0]

[43, 231, 643, 4223, 865, 53423]

In [63]:
[i for i in a if i%2==0]

SyntaxError: invalid syntax (2331488745.py, line 1)

In [64]:
odd = []

[odd.append(i) for i in a if i%2!=0]

[None, None, None, None, None, None]

In [65]:
odd

[43, 231, 643, 4223, 865, 53423]

In [66]:
print(odd.append(2345))

None

In [70]:
data = ['ola','Uber','meta','tata','adani']

vowels = [i for i in data if i[0].lower() in 'aeiou']
consonants = [i for i in data if i[0].lower() not in 'aeiou']

print(vowels)
print(consonants)

['ola', 'Uber', 'adani']
['meta', 'tata']

In [75]:
i = 'Ola'

In [77]:
i[0].lower() in 'aeiou'

True

In [78]:
'O'.lower()

'o'