In [1]:
a = {'Name':'Mohan'}

print(a)

{'Name': 'Mohan'}

In [2]:
print(type(a))

<class 'dict'>

In [3]:
# # mapping data type
# {'Key':'value'}
# {'datatypes':'data types'}
# {'object':'object'}

In [4]:
# key:tuple,int,float,complex,str,True,None,frozenset

# not allowed at key: list,set,dict

In [5]:
# value:- all

In [6]:
# str

a = {'Name':'Ajay',
    'age':23}

print(a)

{'Name': 'Ajay', 'age': 23}

In [7]:
# int

a = {1:'Ajay',
    3:23}

print(a)

{1: 'Ajay', 3: 23}

In [8]:
# float

a = {23.6:'Ajay',
    56.7:23}

print(a)

{23.6: 'Ajay', 56.7: 23}

In [9]:
# complex

a = {34-6j:'Ajay',
    45-7j:23}

print(a)

{(34-6j): 'Ajay', (45-7j): 23}

In [10]:
# tuple

a = {(1,2,3):'Ajay',
     (1,45,6,6):23}

print(a)

{(1, 2, 3): 'Ajay', (1, 45, 6, 6): 23}

In [11]:
# None

a = {None:'Ajay'}

print(a)

{None: 'Ajay'}

In [13]:
# True


a = {True:'Ajay',
    False:23}

print(a)

{True: 'Ajay', False: 23}

In [22]:
a = {frozenset((1,24,36)):[2,12345,346]}

print(a)

{frozenset({24, 1, 36}): [2, 12345, 346]}

In [14]:
# not allowed at key: list,set,dict

In [15]:
a = {[1,231,432,5]:True}
print(a)

TypeError: unhashable type: 'list'

In [16]:
a = {{1,231,432,5}:True}
print(a)

TypeError: unhashable type: 'set'

In [18]:
a = {{1:True}:True}
print(a)

TypeError: unhashable type: 'dict'

In [19]:
# value any data type

a = {1:True,
    2:None,
    3:{1,2432,5},
    4:[1,24,36,7],
    5:(1,24,346),
    6:{'Name':'Mohan'},
    7:'Ajay',
    8:23,
    9:45.7,
    10:34-8j,
    11:frozenset((12,32,35))}

In [20]:
print(a)

{1: True, 2: None, 3: {2432, 1, 5}, 4: [1, 24, 36, 7], 5: (1, 24, 346), 6: {'Name': 'Mohan'}, 7: 'Ajay', 8: 23, 9: 45.7, 10: (34-8j), 11: frozenset({32, 35, 12})}

In [23]:
s = {1:2 in [12,43,5]}
s

{1: False}

In [24]:
# dictionary
# key as a table column

# pandas

In [25]:
a = {'Names':['Ajay','Karan','Nitin'],
    'Salary':[12,43,5],
    'Address':['Noida']*3}

a

{'Names': ['Ajay', 'Karan', 'Nitin'],
 'Salary': [12, 43, 5],
 'Address': ['Noida', 'Noida', 'Noida']}

In [26]:
import pandas as pd

In [27]:
pd.DataFrame(a)

   Names  Salary Address
0   Ajay      12   Noida
1  Karan      43   Noida
2  Nitin       5   Noida

In [28]:
# empty dict

a = {}

print(a)

print(len(a))
print(type(a))

{}
0
<class 'dict'>

In [29]:
# empty dict

a = dict()

print(a)

print(len(a))
print(type(a))

{}
0
<class 'dict'>

In [31]:
# dict itself can be change
# dict key must not be duplicate, if it is, it will override the values
# it does not support direct 0,1,2,... indexing
# if we have to call value, we have to use key as an index
# we can store any data type at value position, infact code also
# lower case key and upper case key both are different
# we can store dict inside dict(nested dict)
# we can create deep copy and shallow copy of dict
# we can change values with the help of key
# does not support direct indexing and slicing

In [32]:
a = 23
a = 12

print(a)

12

In [34]:
a = {'Name':'Mohan','age':23,'Name':'Ajay','age':34}

print(a)

{'Name': 'Ajay', 'age': 34}

In [35]:
a[0]

KeyError: 0

In [36]:
a

{'Name': 'Ajay', 'age': 34}

In [37]:
a['Name']

'Ajay'

In [38]:
a['age']

34

In [40]:
a['Name'] = 'Ajay Devgan'

In [41]:
print(a)

{'Name': 'Ajay Devgan', 'age': 34}

In [42]:
a['age'] = 34

In [43]:
a

{'Name': 'Ajay Devgan', 'age': 34}

In [45]:
a['Age'] = 23

In [46]:
print(a)

{'Name': 'Ajay Devgan', 'age': 34, 'Age': 23}

In [47]:
a['Address'] = 'Noida'

In [48]:
print(a)

{'Name': 'Ajay Devgan', 'age': 34, 'Age': 23, 'Address': 'Noida'}

In [49]:
a = {0:'Mohan',1:'Ajay',2:'Komal',3:True}

In [50]:
a

{0: 'Mohan', 1: 'Ajay', 2: 'Komal', 3: True}

In [51]:
a[0]

'Mohan'

In [52]:
a[3]

True

In [54]:
a[5] = 'Akshay'

In [55]:
print(a)

{0: 'Mohan', 1: 'Ajay', 2: 'Komal', 3: True, 5: 'Akshay'}

In [56]:
# nested dictionary


a = {1:{'Bank1':[1,24,325],
       'Bank2':[23,534,6]}}

a

{1: {'Bank1': [1, 24, 325], 'Bank2': [23, 534, 6]}}

In [60]:
a[1]['Bank1'][1] = 234567890

In [61]:
a

{1: {'Bank1': [1, 234567890, 325], 'Bank2': [23, 534, 6]}}

In [65]:
a[1]['Bank2'][1] = 2356

In [66]:
a

{1: {'Bank1': [1, 234567890, 325], 'Bank2': [23, 2356, 6]}}

In [68]:
a = {True:[[{'Name':'Mohan','Age':23,"Locker":{'Bank1':2398}}]]}

In [69]:
a

{True: [[{'Name': 'Mohan', 'Age': 23, 'Locker': {'Bank1': 2398}}]]}

In [75]:
a[True][0][0]['Locker']['Bank1'] = 1

In [76]:
print(a)

{True: [[{'Name': 'Mohan', 'Age': 23, 'Locker': {'Bank1': 1}}]]}

In [77]:
a = {(1,2,3):{(1,2,3):[1,2,3,[{'Name':['Ajay','Mohan']}]]}}

In [78]:
a

{(1, 2, 3): {(1, 2, 3): [1, 2, 3, [{'Name': ['Ajay', 'Mohan']}]]}}

In [85]:
a[(1,2,3)][(1,2,3)][-1][0]['Name'][-1] = 'Mohan Khanna'

In [86]:
print(a)

{(1, 2, 3): {(1, 2, 3): [1, 2, 3, [{'Name': ['Ajay', 'Mohan Khanna']}]]}}

In [88]:
abc = 'Test'

bcd = 'Fail'


a = {abc:bcd}

In [89]:
print(a)

{'Test': 'Fail'}

In [90]:
# basic op


a = {1:True}
b = {2:False}

print(a+b)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [91]:
a = {1:True}
b = {2:False}

print(a-b)

TypeError: unsupported operand type(s) for -: 'dict' and 'dict'

In [92]:
a = {1:True}
b = {2:False}

print(a*2)

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [93]:
a = {'Name':'Akshay',
    'Age':23,
    'Address':'Noida'}
a

{'Name': 'Akshay', 'Age': 23, 'Address': 'Noida'}

In [94]:
len(a)

3

In [95]:
list(a)

['Name', 'Age', 'Address']

In [103]:
# type casting

data = [(1,True),(2,False),('Name',None)]

dict(data)

{1: True, 2: False, 'Name': None}

In [98]:
type(data)

list

In [104]:
dict(data)

{1: True, 2: False, 'Name': None}

In [105]:
data = [[1,True],[2,False],['Name',None]]

dict(data)

{1: True, 2: False, 'Name': None}

In [106]:
data = ((1,True),(2,False),('Name',None))

dict(data)

{1: True, 2: False, 'Name': None}

In [110]:
data = ({1,'True'},{(1,2,3),'Mohan'},{'Name',None})

dict(data)

{1: 'True', (1, 2, 3): 'Mohan', 'Name': None}

In [108]:
{1,True}

{1}

In [111]:
data = ({1,'True'},{(1,2,3),[1,2,4]},{'Name',None})

dict(data)

TypeError: unhashable type: 'list'