In [1]:
# basic: conditional programming
# intermediate:- Functional programming
# Advance:- OOPS Programming

# Functions

In [3]:
name = input('Enter your name: ')

print(f'Hello {name}, How are you??')

Enter your name: karan
Hello karan, How are you??

In [6]:
def greet():
    name = input('Enter your name: ')
    print(f'Hello {name}, How are you??')

In [7]:
name = input('Enter your name: ')

print(f'Hello {name}, How are you??')

Enter your name: karan
Hello karan, How are you??

In [9]:
greet()

Enter your name: ajay
Hello ajay, How are you??

In [10]:
greet()

Enter your name: mohan
Hello mohan, How are you??

In [11]:
greet()

Enter your name: naman
Hello naman, How are you??

In [12]:
#Topic to be cover

In [44]:
# user defined func
# inbuilt func
# how to take input inside func
# func with parameter
# func without parameter
# func with arguments
# func without arguments
# Func with positional agruments
# func with default parameter
# parameter with datatypes deceleration
# func with *args
# func with **kwargs
# func with docstring
# return vs print
# nested func
# scope in python
# some important functions created by user
# func with list comphrension
# lambda func
# recursive func

In [14]:
# user defined func
# inbuilt func

In [15]:
# inbuilt func:- python provide

In [16]:
# sum()
# min()
# max()
# len()
# sorted()
# eval()
# reversed()
# etc

In [17]:
# user defined functions:- created bu user

In [18]:
greet()

Enter your name: mr kumar
Hello mr kumar, How are you??

In [19]:
# how to take input inside func

In [21]:
def add():
    a = int(input('Enter number one: '))
    b = int(input('Enter number two: '))
    
    print('Add is: ',a+b)

In [22]:
add()

Enter number one: 23456
Enter number two: 10
Add is:  23466

In [23]:
def multiply():
    a = int(input('Enter number one: '))
    b = int(input('Enter number two: '))
    c = int(input('Enter number three: '))
    d = int(input('Enter number four: '))
    
    print(a*b*c*d)

In [24]:
multiply()

Enter number one: 1
Enter number two: 2
Enter number three: 3
Enter number four: 6
36

In [27]:
def say_hello():
    name = input('Enter your name: ')
    
    print(f'Hello Mr {name}, nice to meet you!!')

In [28]:
say_hello()

Enter your name: karan
Hello Mr karan, nice to meet you!!

In [29]:
# func with parameter
# func without parameter
# func with arguments
# func without arguments

In [30]:
def say_hello_to(name):
    print(f'Hello Mr {name}, how are you, nice to meet you!!')

In [35]:
say_hello_to('lucky')

Hello Mr lucky, how are you, nice to meet you!!

In [36]:
say_hello_to('Ravi')

Hello Mr Ravi, how are you, nice to meet you!!

In [40]:
def greet_with_intro(name,age,address,salary,company_name):
    '''This function is created by Gaurav, and it takes
    name,age,address,salary and company name as an arguments
    ex: greet_with_intro("Aditya Kumar",23,"Noida",56789,'Ola')
    Thanks
    '''
    print(f'Hello Mr {name}, how are you, nice to meet you!!')
    print(f'You are {age} years old')
    print(f'Your Address is {address}')
    print(f'Your current company is {company_name}')
    print(f'Your inhand salary is {salary}')

In [45]:
greet_with_intro('karan',12,'Delhi',98987,'Uber')

Hello Mr karan, how are you, nice to meet you!!
You are 12 years old
Your Address is Delhi
Your current company is Uber
Your inhand salary is 98987

In [46]:
# Func with positional agruments

greet_with_intro(12,989876,'Uber','Ajay','Noida')

Hello Mr 12, how are you, nice to meet you!!
You are 989876 years old
Your Address is Uber
Your current company is Noida
Your inhand salary is Ajay

In [47]:
# Func with positional agruments

greet_with_intro(age=12,salary=989876,company_name='Uber',name='Ajay',address='Noida')

Hello Mr Ajay, how are you, nice to meet you!!
You are 12 years old
Your Address is Noida
Your current company is Uber
Your inhand salary is 989876

In [48]:
# func with default parameter

In [49]:
greet_with_intro(age=12,salary=989876,company_name='Uber',name='Ajay')

TypeError: greet_with_intro() missing 1 required positional argument: 'address'

In [57]:
def default_greet_with_intro(name = 'Techvidya' ,
                             age = 0,
                             address = None,
                             salary = None,
                             company_name = None):
    
    '''This function is created by Gaurav, and it takes
    name,age,address,salary and company name as an arguments
    ex: greet_with_intro("Aditya Kumar",23,"Noida",56789,'Ola')
    Thanks
    '''
    print(f'Hello Mr {name}, how are you, nice to meet you!!')
    print(f'You are {age} years old')
    print(f'Your Address is {address}')
    print(f'Your current company is {company_name}')
    print(f'Your inhand salary is {salary}')

In [61]:
default_greet_with_intro(age = 45,name='Karan',address='Kanpur',salary=98642)

Hello Mr Karan, how are you, nice to meet you!!
You are 45 years old
Your Address is Kanpur
Your current company is None
Your inhand salary is 98642

In [62]:
def check_intro(name = None,
                 age = None,
                 address = None,
                 salary = None,
                 company_name = None):
    
    '''This function is created by Gaurav, and it takes
    name,age,address,salary and company name as an arguments
    ex: greet_with_intro("Aditya Kumar",23,"Noida",56789,'Ola')
    Thanks
    '''
    
    if name == age == address == salary == company_name == None:
        print('Pass atleast some arguments')
        
    else:
        print(f'Hello Mr {name}, how are you, nice to meet you!!')
        print(f'You are {age} years old')
        print(f'Your Address is {address}')
        print(f'Your current company is {company_name}')
        print(f'Your inhand salary is {salary}')

In [64]:
check_intro(name = 'krana')

Hello Mr krana, how are you, nice to meet you!!
You are None years old
Your Address is None
Your current company is None
Your inhand salary is None

In [65]:
check_intro(name=1234)

Hello Mr 1234, how are you, nice to meet you!!
You are None years old
Your Address is None
Your current company is None
Your inhand salary is None

In [66]:
# parameter with datatypes deceleration

In [68]:
def check_intro(name:str = None,
                age:int|float = None,
                address:str = None,
                salary:int|float = None,
                company_name:str = None):
    
    '''This function is created by Gaurav, and it takes
    name,age,address,salary and company name as an arguments
    ex: greet_with_intro("Aditya Kumar",23,"Noida",56789,'Ola')
    Thanks
    '''
    
    if name == age == address == salary == company_name == None:
        print('Pass atleast some arguments')
        
    else:
        print(f'Hello Mr {name}, how are you, nice to meet you!!')
        print(f'You are {age} years old')
        print(f'Your Address is {address}')
        print(f'Your current company is {company_name}')
        print(f'Your inhand salary is {salary}')

In [71]:
check_intro('Joker',12,'Noida',87654,'ola')

Hello Mr Joker, how are you, nice to meet you!!
You are 12 years old
Your Address is Noida
Your current company is ola
Your inhand salary is 87654

In [76]:
def check_intro(name:'str' = None,
                age:'int|float' = None,
                address:'str' = None,
                salary:'int|float' = None,
                company_name:'str' = None) -> 'Message':
    
    '''This function is created by Gaurav, and it takes
    name,age,address,salary and company name as an arguments
    ex: greet_with_intro("Aditya Kumar",23,"Noida",56789,'Ola')
    Thanks
    '''
    
    if name == age == address == salary == company_name == None:
        print('Pass atleast some arguments')
        
    else:
        print(f'Hello Mr {name}, how are you, nice to meet you!!')
        print(f'You are {age} years old')
        print(f'Your Address is {address}')
        print(f'Your current company is {company_name}')
        print(f'Your inhand salary is {salary}')

In [77]:
check_intro('Ajay')

Hello Mr Ajay, how are you, nice to meet you!!
You are None years old
Your Address is None
Your current company is None
Your inhand salary is None

In [80]:
def check_intro(name:'str' = None,
                age:'int|float' = None,
                address:'str' = None,
                salary:'int|float' = None,
                company_name:'str' = None) -> None:
    
    '''This function is created by Gaurav, and it takes
    name,age,address,salary and company name as an arguments
    ex: greet_with_intro("Aditya Kumar",23,"Noida",56789,'Ola')
    Thanks
    '''
    
    if name == age == address == salary == company_name == None:
        print('Pass atleast some arguments')
        
    else:
        print(f'Hello Mr {name}, how are you, nice to meet you!!')
        print(f'You are {age} years old')
        print(f'Your Address is {address}')
        print(f'Your current company is {company_name}')
        print(f'Your inhand salary is {salary}')

In [81]:
check_intro()

Pass atleast some arguments

# Day 22

In [1]:
#  func with *args
# func with **kwargs
# return vs print
# nested func
# scope in python
# some important functions created by user
# func with list comphrension
# lambda func
# recursive func

In [2]:
# return vs print

In [3]:
def add(a):
    a+=10
    print(f'Your updated number is {a}')

In [5]:
add(12)+10

Your updated number is 22

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [9]:
add(10)

Your updated number is 20

In [6]:
# return 

def add_with_r(a,b):
    c = a+b
    return c

In [10]:
type(add_with_r(10,23))

int

In [11]:
add_with_r(10,23)+100

133

In [14]:
add_with_r(10,10)+add_with_r(100,200)+1000

1320

In [16]:
def convert_upper(data:'list,tuple'):
    result = [i.upper() for i in data]
    
    print(result)

In [19]:
convert_upper(['ola','uber','ajay']).append('Akshay')

['OLA', 'UBER', 'AJAY']

AttributeError: 'NoneType' object has no attribute 'append'

In [20]:
def convert_upper_with_r(data:'list,tuple'):
    result = [i.upper() for i in data]
    
    return result

In [22]:
ans = convert_upper_with_r(['ola','uber','ajay'])

In [24]:
ans.append('Komal')

In [25]:
ans

['OLA', 'UBER', 'AJAY', 'Komal']

In [27]:
 convert_upper_with_r(['ola','uber','ajay'])+['Ajay','Rohan']

['OLA', 'UBER', 'AJAY', 'Ajay', 'Rohan']

In [28]:
def convert_upper_with_r(data:'list,tuple'):
    result = [i.upper() for i in data]
    
    print('Func has been executed successfully!!')
    
    return result

In [30]:
convert_upper_with_r(['ola','Ajay'])+['Komal']

Func has been executed successfully!!

['OLA', 'AJAY', 'Komal']

In [36]:
def convert_upper_with_r(data:'list,tuple'):
    result = [i.upper() for i in data]
    
    print('Func has been executed successfully!!')
    return result

    '''This is a doc'''

In [37]:
convert_upper_with_r(['ola','komal'])

Func has been executed successfully!!

['OLA', 'KOMAL']

In [40]:
def maths(a,b):
    add = a+b
    sub = a-b
    mul = a*b
    div = a/b
    
    return add,sub,mul,div

In [47]:
print('Add result: ',maths(10,20)[0])
print('Sub result: ',maths(10,20)[1])
print('Mul result: ',maths(10,20)[2])
print('Div result: ',maths(10,20)[3])

Add result:  30
Sub result:  -10
Mul result:  200
Div result:  0.5

In [53]:
def abc():
    a = 12
    b = 23
    
    return a
    return b

In [54]:
abc()

12

In [52]:
a = 12
a = 23
a

23

In [55]:
#  func with *args
# func with **kwargs

In [56]:
def add(x,y):
    return x+y

In [58]:
add(12,90,100)

TypeError: add() takes 2 positional arguments but 3 were given

In [59]:
def add(x,y,z):
    return x+y+z

In [62]:
add(1,2)

TypeError: add() missing 1 required positional argument: 'z'

In [63]:
# *args

In [64]:
def add(*args):
    print(args)

In [65]:
add(1,2,3,45)

(1, 2, 3, 45)

In [66]:
def add(*args):
    return sum(args)

In [67]:
add(1,24,34,75,8)

142

In [68]:
def add(*args):
    total = 0
    for i in  args:
        total+=i
    return total

In [69]:
add(1,23,42,4354,65,46,4324,34,65756,46)

74691

In [74]:
def give_hashtag(*names:'tuple[str]'):
    return ['#'+i.capitalize() for i in names]

In [76]:
give_hashtag('ajay','ravi','mohan','karan','rahul')+['@Ajay']

['#Ajay', '#Ravi', '#Mohan', '#Karan', '#Rahul', '@Ajay']

In [77]:
# func with **kwargs

In [78]:
def give_me_intro(name,age,salary):
    print(f'Your name is {name}')
    print(f'Your age is {age}')    
    print(f'Your salary is {salary}')

In [79]:
give_me_intro('joker',23,876543)

Your name is joker
Your age is 23
Your salary is 876543

In [82]:
give_me_intro(name='joker',age=23,salary=876543)

Your name is joker
Your age is 23
Your salary is 876543

In [83]:
give_me_intro(name='joker',age=23,salary=876543,address = "Noida")

TypeError: give_me_intro() got an unexpected keyword argument 'address'

In [84]:
def my_intro(**kwargs):
    print(kwargs)

In [85]:
my_intro(name='Komal',age=21,salary=23456)

{'name': 'Komal', 'age': 21, 'salary': 23456}

In [100]:
def my_intro(**kwargs):
    
    for i in kwargs:
        print(f'Your {i} is {kwargs[i]}')
#     return kwargs

In [101]:
my_intro(name='Ravi',salary=87654,Age=23,Address='Delhi',phone_number = 9898787654)

Your name is Ravi
Your salary is 87654
Your Age is 23
Your Address is Delhi
Your phone_number is 9898787654

In [105]:
def my_intro(course,**kwargs):
    print(f'Your course is {course}')
    for i in kwargs:
        print(f'Your {i} is {kwargs[i]}')
#     return kwargs

In [109]:
my_intro('Python',salary = 23876)

Your course is Python
Your salary is 23876

In [110]:
# nested func
# scope in python

In [111]:
# nested function

In [119]:
def main_func():
    print('This is a main function!!')
    
    def temp_func():
        print('This is just a temp func!!')
    
    def inner_func():
        print('This is inner func')
    
    temp_func()
    inner_func()

In [120]:
main_func()

This is a main function!!
This is just a temp func!!
This is inner func

In [123]:
def main_func():
    print('This is a main function!!')
    
    
    
    def temp_func():
        print('This is just a temp func!!')
    
    def inner_func():
        print('This is inner func')
    
    inner_func()
    temp_func()

In [124]:
main_func()

This is a main function!!
This is inner func
This is just a temp func!!

In [134]:
def main_func():
    print('This is a main function!!')
    
    
    
    def temp_func():
        print('This is just a temp func!!')
    
        def nested_func():
            print('This is inner func')
        
        
        nested_func()
        
    temp_func()

In [135]:
main_func()

This is a main function!!
This is just a temp func!!
This is inner func

In [141]:
def a():
    print('I am a')
    
    def b():
        print('I am b')
        
        def c():
            print('I am c')
        
        def d():
            print('I am d')
            
        d()
        c()
    b()

In [142]:
a()

I am a
I am b
I am d
I am c

In [144]:
d()

NameError: name 'd' is not defined

In [145]:
# scope in python
# variable accessibility

In [154]:
def something():
    # all are local variables
    my_name = 'Karan verma'  # local variable
    
    print('Hello Buddy!!',my_name.upper())

In [155]:
something()

Hello Buddy!! KARAN VERMA

In [156]:
print(my_name)

NameError: name 'my_name' is not defined

In [157]:
def something():
    # global statement
    global my_name
    my_name = 'Karan verma'  #global variable
    
    print('Hello Buddy!!',my_name.upper())

In [158]:
something()

Hello Buddy!! KARAN VERMA

In [159]:
print(my_name)

Karan verma

In [160]:
name = 'Komal Verma'
# bydefault global variable 

def print_this():

    print(f'Hello {name}, how are you??')

In [162]:
name = 'Abhay verma'
print_this()

Hello Abhay verma, how are you??

In [164]:
salary = 9876543

def change_salary():
    global salary
    salary = 10
    
    print(f'Your salary is {salary}')

In [166]:
salary = 123456
change_salary()

Your salary is 10

In [168]:
salary = 23456
print(salary)

change_salary()

23456
Your salary is 10

In [169]:
print(salary)

10